/*GERAL*/
* {
    margin: 0;
    padding: 0;
}

/*CORES*/
:root {
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

/*FONTES*/
.monteserrat {
    font-family: 'Montserrat', sans-serif;
}

.fraunces {
    font-family:'Fraunces', serif; ;
}

/*FUNDO*/
main {
    height: 100vh;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CARD*/
.card {
    background-color: var(--White);
    display: flex;
    width: 600px;
    height: 450px;
    border-radius: 10px;
}

picture {
    width: 50%;
    height: 100%;
}

.img-perf {
    height: 100%;
    border-radius: 10px 0px 0px 10px; 
}

/*ANÚNCIO (ad)*/
.ad {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.text-anun {
    font-size: 0.8rem;
}

.text-anun, .price2 {
    color: var(--Darkgrayishblue);
}

.title {
    font-size: 2rem;
    line-height: 31px;
}

.text-anun-body {
    font-size: 0.9rem;
    line-height: 23px;
}

.let-spa {
    letter-spacing: 5px;
}

/*PREÇO*/
.price {
    display: flex;
    column-gap: 30px;
}

.price1 {
    font-size: 1.9rem;
    color: var(--Darkcyan);
}

.price2 {
    font-size: 0.8rem;
    padding-top: 12px;
    text-decoration: line-through;
}

/*BOTÃO*/
.cart {
    padding: 14px;
    background-color: var(--Darkcyan);
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.cart:hover {
    background-color: #1B402E;
}

.cart-p {
    color: var(--White);
    font-weight: 700;
}

.cart a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.icon-cart {
    margin-right: 10px;
}

@media (max-width: 700px) {
    .card {
        flex-direction: column;
        width: 340px;
        height: 670px;
    }
    picture {
        width: 340px;
        height: 240px;
    }
    .img-perf {
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px; 
    }
    .ad {
        padding: 25px;
        row-gap: 20px;
    }
}